body {
    background-color: aliceblue;
}

header {
    text-align: center;
}

section {
    background-color: rgb(235, 167, 215);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

input {
    width: 100px;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
    font-style: italic;
    margin: 10px;
}

p {
    margin: 0;
}